<div class="stars">
    <input type="radio" id="rating-1-<%= type %>" value="1" name="rating[<%= type %>]" aria-label="1-ster"  />
    <label for="rating-1-<%= type %>"></label>
    <input type="radio" id="rating-2-<%= type %>" value="2" name="rating[<%= type %>]" aria-label="2-ster"  />
    <label for="rating-2-<%= type %>"></label>
    <input type="radio" id="rating-3-<%= type %>" value="3" name="rating[<%= type %>]" aria-label="3-ster"  />
    <label for="rating-3-<%= type %>"></label>
    <input type="radio" id="rating-4-<%= type %>" value="4" name="rating[<%= type %>]" aria-label="4-ster"  />
    <label for="rating-4-<%= type %>"></label>
    <input type="radio" id="rating-5-<%= type %>" value="5" name="rating[<%= type %>]" aria-label="5-ster"  />
    <label for="rating-5-<%= type %>"></label>
  </div>